.ContainerCards-1 {
  animation: CardAnimation-Column-1 35s ease-in-out infinite;
}
.ContainerCards-2 {
  animation: CardAnimation-Column-2 35s ease-in-out infinite;
}

@keyframes CardAnimation-Column-1 {
  0% {
    transform: translateX(calc(0px + 40%));
  }
  50% {
    transform: translateX(calc(0px - 40%));
  }
  100% {
    transform: translateX(calc(0px + 40%));
  }
}

@keyframes CardAnimation-Column-2 {
  0% {
    transform: translateX(calc(0px - 40%));
  }
  50% {
    transform: translateX(calc(0px + 40%));
  }
  100% {
    transform: translateX(calc(0px - 40%));
  }
}

@media (max-width: 426px) {
  .Card-Column-1,
  .Card-Column-2 {
    width: -webkit-fill-available;
  }
  @keyframes CardAnimation-Column-1 {
    0% {
      transform: translateX(calc(0px + 5%));
    }
    50% {
      transform: translateX(calc(0px - 5%));
    }
    100% {
      transform: translateX(calc(0px + 5%));
    }
  }
  @keyframes CardAnimation-Column-2 {
    0% {
      transform: translateX(calc(0px - 5%));
    }
    50% {
      transform: translateX(calc(0px + 5%));
    }
    100% {
      transform: translateX(calc(0px - 5%));
    }
  }
}
