.card-container {
  position: relative;
  z-index: 1;
}

/* Corpo do Card */
.body-card {
  color: white;
  display: flex;
  width: fit-content;
  padding: 1.5rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  border-radius: 2rem;
}
/* Quando o mouse estiver sobre */
.body-card:hover {
  transform: scale(1.1);
}
/* Cabeça & Roda pé do Card */
.header-card,
.footer-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
/* Roda pé */
.footer-card {
  align-items: flex-end;
}
/* Número de cartões */
.number-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
/* Ilustração do Número de cartões (Estrela) */
.number-cards img {
  width: 24px;
}
/* Tag do cartão */
.tag {
  padding: 0.25rem;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.625rem;
  font-weight: 600;
}
/* Botão (Continuar) */
.btn-card {
  border: none !important;
  padding: 0.5rem 0.75rem !important;
  border-radius: 1rem !important;
}

.grid-cards {
  display: flex;
  position: fixed;
  transform: translateY(-96px);
  z-index: 0;
}

.cards-container {
  /* height: calc(160px + 6rem); */
  gap: 2rem;
  display: flex;
  /* gap: 2rem; */
  /* align-items: center; */
  flex-direction: column;
  /* height: 28vh; */
}

.sobe {
  /* transform: translateX(-34px); */
  animation: scrollSobe 10s infinite;
}

.cards-row-2 {
  margin-top: calc(160px - 14rem);
  /* margin-top: -4rem; */
  animation: scrollCardsX2 10s infinite;
}

/* Cards com o ID cards-azul  */
#card-azul {
  border: 3px solid rgba(61, 139, 253, 0.5);
  background: var(--Cores-Escuras-Azul, #052c65);
  box-shadow: 0px 4px 50px 0px #2947a3;
}

#card-azul .btn-card {
  background: rgba(61, 139, 253, 0.5);
}

#card-azul .tag {
  background: rgba(61, 139, 253, 0.34);
}
/* Cards com o ID cards-rosa  */
#card-rosa {
  border: 3px solid rgba(222, 92, 157, 0.5);
  background: var(--Cores-Escuras-Rosa, #561435);
  box-shadow: 0px 4px 50px 0px #a93276;
}

#card-rosa .btn-card {
  background: rgba(222, 92, 157, 0.5);
}

#card-rosa .tag {
  background: rgba(222, 92, 157, 0.34);
}
/* Cards com o ID cards-vermelho */
#card-vermelho {
  border: 3px solid rgba(227, 93, 106, 0.5);
  background: var(--Cores-Escuras-Vermelho, #58151c);
  box-shadow: 0px 4px 50px 0px #9a3732;
}

#card-vermelho .btn-card {
  background: rgba(227, 93, 106, 0.5);
}

#card-vermelho .tag {
  background: rgba(227, 93, 106, 0.34);
}
/* Cards com o ID cards-verde */
#card-verde {
  border: 3px solid rgba(32, 201, 151, 0.5);
  background: var(--Cores-Escuras-Verde, #0d503c);
  box-shadow: 0px 4px 50px 0px rgba(138, 209, 191, 0.5);
}

#card-verde .btn-card {
  background: rgba(32, 201, 151, 0.5);
}

#card-verde .tag {
  background: rgba(32, 201, 151, 0.34);
}
/* Cards com o ID cards-laranja */
#card-laranja {
  border: 3px solid rgba(253, 152, 67, 0.5);
  background: var(--Cores-Escuras-Laranja, #653208);
  box-shadow: 0px 4px 50px 0px rgba(211, 129, 53, 0.5);
}

#card-laranja .btn-card {
  background: rgba(253, 152, 67, 0.5);
}

#card-laranja .tag {
  background: rgba(253, 152, 67, 0.34);
}
/* Cards com o ID cards-roxo */
#card-roxo {
  border: 3px solid rgba(133, 64, 245, 0.5);
  background: var(--Cores-Escuras-Roxo, #290661);
  box-shadow: 0px 4px 50px 0px rgba(161, 106, 217, 0.5);
}

#card-roxo .btn-card {
  background: rgba(133, 64, 245, 0.5);
}

#card-roxo .tag {
  background: rgba(133, 64, 245, 0.34);
}
/* Configuração de midia para ajustar os cards em celulares */
@media (max-width: 425px) {
  .cards-column-2 {
    margin-top: -2rem;
    animation: scrollCardsX2 10s infinite;
  }
}

/* @media (max-width: 1024px) {
  .body-card {
    color: white;
    display: flex;
    width: 13.875rem;
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    border-radius: 2rem;
  }
} */


@keyframes ScrollSobe {
  0% {
    transform: translateY(calc(100vh - 208%));
  }
  50% {
    transform: translateY(calc(-100vh - -190%));
  }
  100% {
    transform: translateY(calc(100vh - 208%));
  }
}
